/*  -----------------------------------------------------------
                        애니메이션 효과 작성
----------------------------------------------------------- */
/* 애니메이션이 적용될 글자의 초기 상태 설정 */
.deepData-container .charChild {
    display: inline-block;
}

.intro-effect {
    animation-name: flyIn;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* 끝난 후 상태 유지 */
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes flyIn {
    0% {
        filter: blur(10px);
        /* 일단 이 transition 어케 작동하는건지... */
        transform: translate(10%, 10%) scale(10);
        opacity: 0;
    }
    50% {
        filter : blur(5px);
        transform: translate()
    }
    100% {
        filter: blur(0px);
        transform: translateZ(0) scale(1);
        opacity: 1;
    }
}
