/*  -----------------------------------------------------------
                        애니메이션 효과 작성
----------------------------------------------------------- */

/* ============================================================
                Header 메뉴 드롭다운 효과
============================================================ */
.bar-slidedown {
    animation-name: navSlideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.snb-text-slideup {
    animation-name: textSlideUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.snb-text-slidedown {
    animation-name: textSlideDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes navSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textSlideUp {
    from {
        opacity: 0;
        transform: translateY(30px); /* 조금 아래쪽에서 애니메이션을 시작해서 */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* 원래 자리로 돌아옴 */
    }
}
@keyframes textSlideDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}
/* ============================================================
                    Section 1 타이포 효과
============================================================ */
/* 애니메이션이 적용될 글자의 초기 상태 설정 */
.deepData-container .charChild {
    display: inline-block;
    opacity: 0;
}

.intro-effect {
    animation-name: flyIn;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* 끝난 후 상태 유지 */
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes flyIn {
    0% {
        filter: blur(8px);
        /* 
        translate : X, Y축으로 이동한 자리에서 애니메이션이 시작했다가, 원래 자리로 돌아오도록 함.
        scale : 글자 크기가 커졌다가 원래대로 돌아오도록 함 
        */
        transform: translate(50%, 45%) scale(20);
        opacity: 0;
    }
    50% {
        filter: blur(4px);
        opacity: 0.4;
    }
    100% {
        filter: blur(0px);
        transform: translate(0) scale(1);
        opacity: 1;
    }
}
