#dBody {
    /* padding-top: 110px; */
    position: relative;
}

/* ==================================================
effect-data 공통 동작
================================================== */

/* 그냥 effect-data 상태일 때는 안 보임 */
/* .effect-data {
    transform: translate(0%, 100px); */
/* opacity: 0;
} */

/* js로 .active 클래스 추가 시 동작 */
.effect-data .active {
    transform: translate(0%, 0%);
    opacity: 1;
}

/* ==================================================
Section 1
================================================== */
/* 앞에 .deepData-container 붙여주기 */
/* .deepData-container {
    min-height: 1500px;
} */

.deepData-container {
    text-align: center;
    height: 1000px;
    overflow: hidden;
    /* background: url('../img/index/index_main_intro_visual.jpg') ; */
}

.deepData-container .text-group {
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
}

.deepData-container .row1 {
    position: relative;
    left: -150px;
}

.deepData-container .row2 {
    position: relative;
    left: 100px;
}

.deepData-container .text-row {
    font-size: 80px;
}

.deepData-container .image-group {
    width: 100%;
    height: 100%;
    top: 0px;
    object-fit: cover;
}

/* ==================================================
Section 2
================================================== */
/* headline */
.technology-container {
    min-height: 1500px;
    align-content: center;
}

.technology-container .headline {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.technology-container .effect-data {
    margin-left: 30px;
    margin-top: 15px;
}

/* content */
.technology-container .content {
    display: flex;
    justify-content: center;
}

.technology-container .inner-grid {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 70px;
}

.technology-container .inner-item {
    list-style-type: none;
    margin: 20px;
    text-align: center;
}

/* .technology-container .inner-title */

/* .technology-container .inner-content */
.technology-container .inner-content {
    margin-top: 10px;
}

/* ==================================================
Section 3
================================================== */
/* 앞에 .beyondBig-container 붙여주기 */
.beyondBig-container {
    /* height: 100%; */
    /* min-height: 1500px; */
    justify-content: center;
    position: relative;
}

/* Beyond big, Deep data 텍스트 */
.beyondBig-container .inner-head {
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 25px;
    z-index: 5;
}

/* 이미지 슬라이드 바 */
.beyondBig-container .slider-nav {
    position: absolute;
    top: 350px;
    left: 80px;
    /* left: 50%; */
    z-index: 5;
}

.beyondBig-container .btn-slider-nav {
    display: block;
    width: 4px;
    height: 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    opacity: 0.3;
    background-color: #fff;
}

.beyondBig-container .btn-slider-nav.active {
    opacity: 1;
    background-color: #fff;
}

/* 이미지 위 텍스트 */
.beyondBig-container .text-group {
    position: absolute;
    top: 350px;
    left: 30px; /* .slider-nav 로 부터의 거리 */
    width: 100%;
}

.beyondBig-container .text-cell {
    position: absolute;
    left: 100px;
    opacity: 0;
    z-index: 0;
}

.beyondBig-container .text-cell.active {
    /* js로 active 클래스 추가 */
    opacity: 1;
    z-index: 9;
    /* transform: translate(); */
}

.beyondBig-container .main-title {
    font-size: 60px;
}

.beyondBig-container .sub-title {
    margin-top: 10px;
}

/* .beyondBig-container .slide-text 세 슬라이드의 글자 공통 속성 */

/* #text-start 애니메이션 효과 */

/* #text-density 애니메이션 효과 */

/* #text-vision 애니메이션 효과 */

/* 이미지 */
.beyondBig-container .image-cell {
    position: absolute;
    opacity: 0;
    z-index: 0;
}

.beyondBig-container .image-cell.active {
    /* js로 active 클래스 추가 */
    position: relative;
    opacity: 1;
    z-index: 4;
}

/* .beyondBig-container .slide-image 세 슬라이드의 이미지 공통 속성 */

/* .beyondBig-container #img-start 애니메이션 효과 */

/* .beyondBig-container #img-density 애니메이션 효과 */

/* .beyondBig-container #img-vision 애니메이션 효과 */

/* ==================================================
Section 4
================================================== */
/* 앞에 .quality-container 붙여주기 */
.quality-container {
    height: 1500px;
    align-content: center;
}

.quality-container .headline {
    justify-content: center;
    margin-bottom: 40px;
}

.quality-container .effect-data {
    margin-left: 30px;
    margin-top: 15px;
}

/* content */
.quality-container .content {
    display: flex;
    justify-content: center;
}

.quality-container .inner-grid {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.quality-container .inner-item {
    list-style-type: none;
    margin: 8px;
    text-align: center;
}

.quality-container .inner-content {
    margin-top: 10px;
}

/* ==================================================
Section 5
================================================== */
.service-container {
    height: 1500px;
    position: relative;
}

.service-container .inner-title {
    position: absolute;
    top: 330px;
    left: 24px;
    font-size: 65px;
}

.service-container .inner-content {
    position: absolute;
    top: 540px;
    left: 24px;
}

.service-container .grid-layout-inner {
    display: flex;
    position: absolute;
    top: 270px;
    right: 60px;
}

.service-container .grid-layout-cell {
    background-color: #fff;
    margin: 20px;
    padding: 10px 40px;
    border-radius: 4px;
}

.service-container .item-icon {
    width: 50px;
    padding: 0px;
    margin-top: 20px;
}

.service-container .item-subject {
    font-size: 35px;
    margin: 10px 0px;
}

.service-container .item-contents {
    height: 80px;
}

.service-container .icon-arrow {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 25px;
}

/* 아래 두 개는 js로 grid-layout-cell 마우스 호버 시 클래스 추가로 효과 주기 */
.service-container .item-subject.hover {
    color: #06c;
}

.service-container .icon-arrow.hover {
    content: url("../img/index/index_section5_arrow_blue.png");
}

/* ==================================================
Section 6
================================================== */
.relations-container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    background: #fff;
    z-index: 15;
}

.relations-container .relations-item {
    width: 50%;
    height: 406px;
    text-align: center;
    box-sizing: border-box;
    padding: 80px 80px 0 80px;
}

.relations-container .relations-item:nth-child(1) {
    background: url("../img/index/index_section6_IR_image.png") center center
        no-repeat;
    background-size: cover;
    font-size: 24px;
    line-height: 1.33;
    font-weight: 700;
    color: #fff;
}
.relations-container .relations-item:nth-child(2) {
    background: url("../img/index/index_section6_TrendMonitor_image.png") center
        center no-repeat;
    background-size: cover;
    font-size: 24px;
    line-height: 1.33;
    font-weight: 700;
    color: #fff;
}

.relations-container .item-top {
    margin-top: 20px;
    font-size: 32px;
    line-height: 1.31;
    font-weight: 700;
    color: #fff;
}

.relations-container .item-ui {
    margin-top: 58px;
}

.relations-container .item-ui .linkBtn {
    width: 200px;
    text-align: left;
    justify-content: space-between;
    height: 60px;
    font-size: 18px;
    color: #fff;
    border-color: #06c;
    background-color: #06c;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 700;
    /* border: 1px solid #111; */
    border-radius: 2px;
    box-sizing: border-box;
    white-space: nowrap;
    transition: background 0.2s ease, border 0.2s ease;
}

.relations-container .item-ui .icon {
    display: inline-flex;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.relations-container .item-ui .icon-arrow {
    width: 24px;
    height: 24px;
    background-image: url("../img/index/index_section6_arrow_white.png");
}

