/* ===================================================================
 초기화
=================================================================== */




table {
    border-collapse: collapse;
    border-spacing: 0; /*인접한 셀과 셀 사이의 간격*/
    word-break: break-all;
}
table th {
    font-weight: normal;
}
