#dBody {
    position: relative;
}

.form-container {
    height: 1800px;
}

/* 제목 영역 */
.form-container h1 {
    text-align: center;
    font-size: 60px;
    padding: 180px 0 80px 0;
}

/* 내용 영역 */
.form-container .service-request-wrap {
    display: flex;
    gap: 100px;
    padding: 0 20px;
}

/* 내용 영역 : form-info */
.form-container .form-info {
    padding-left: 50px;
    margin-right: 10px;
    width: 50%;
}

.form-container .title-text {
    font-size: 40px;
}

.form-container .form-info-inner-content {
    margin: 20px 0;
}

/* 버튼 */
.form-container .btns {
    margin-top: 50px;
}

.form-container .faq-btn {
    display: flex;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
    border: 1px solid #06c;
}

.form-container .btn-text {
    font-size: 16px;
}

.form-container .icon {
    display: inline-block;
    height: 16px;
    transform: translateY(2px);
    margin-left: 20px;
}

.form-container .icon-arrow {
    justify-content: center;
}

/* 내용 영역 : form-data */
.form-container .form-data {
    /* padding-right: 30px; */
    width: 50%;
}

.form-container .item-header {
    display: flex;
}

.form-container .item-detail {
    margin: 0 0 20px 0;
}

/* 서비스 유형 */
.form-container .item-input-label {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.form-container .fontRequired {
    margin-left: 10px;
}

.form-container select {
    width: 100%;
    height: 70px;
    margin: 10px 0;
    padding: 0 0 0 20px;
    font-size: 18px;
    appearance: none; /* 기본 버튼 모양 없앰 */
    background-image: url(../img/service_ask/icon-select-arrow.png);
    background-position: right 20px center;
    background-repeat: no-repeat;
    border-radius: 2px;
    border: 1px solid #aaa;
}

/* 이름 */
.form-container .grid-layout-inner {
    display: flex;
    justify-content: space-between;
}

.form-container .form-input-items-vertical {
    display: flex;
    flex-direction: column;
}

.form-container .item-detail.left {
    padding-right: 10px;
}

.form-container .item-detail.right {
    padding-left: 10px;
}

.form-container .inquiry-half {
    height: 70px;
    margin: 10px 0;
    padding: 0 50px 0 20px;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #aaa;
}

/* 연락처 */
.form-container .inquiry-full {
    width: 100%;
    height: 70px;
    margin: 10px 0;
    padding: 0 0 0 20px;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #aaa;
}

/* 문의 내용 */
.form-container .form-data-inquiry-grid {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form-data-inquiry-grid-cell {
    display: flex;
}

.form-container .icon-form-tip {
    width: 20px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../img/service_ask/inquiry-contents.png);
}

.form-container .icon-form-tip:hover {
    cursor: pointer;
}

.form-container .form-grid-cell-text {
    font-weight: 400;
    transform: translateY(4px);
}

.form-container .inquiry-contents {
    display: relative;
    display: block;
    width: 100%;
    height: 340px;
    padding: 24px 20px;
    color: #111;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    border-radius: 2px;
    border: 1px solid #aaa;
    background-color: #fff;
    resize: none;
    overflow: auto;
}

.form-container .item-inquiry-detail {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* 개인정보 수집 */
.form-container .form-check-grid-horizontal {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form-container .form-check-grid {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
}

.form-container .form-check-box {
    cursor: pointer;
    font-size: 18px;
}

.form-container .form-check-box input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.form-container .check-icon {
    width: 36px;
    height: 36px;
    padding: 5px;
    position: relative;
    /* top: 15px; */
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #fff;
}

.form-container .form-check-grid-item .form-check-text {
    display: inline-block;
    transform: translateY(-2px);
}

.form-container .form-check-grid-item .form-check-wholeInfo {
    display: inline-block;
    transform: translateY(-2px);
}

.form-container .form-check-grid-item .form-check-wholeInfo:hover {
    cursor: pointer;
}

/* 버튼 */
.form-container .btn {
    margin-top: 30px;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    border: none;
    background-color: #06c;
    border-radius: 2px;
}

.form-container .btn-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(14px);
}

.form-container .btn-grid-cell {
    display: flex;
}

.form-container .submit-btn {
    display: flex;
    border: 0;
    background-color: #06c;
    /* font-size: 24px; */
}

.form-container .submit-btn-text {
    display: inline-block;
    padding: 20px 0px;
    color: #fff;
    font-size: 24px;
    vertical-align: middle;
}
